/*******************************
CSS main
********************************/

/* global styling */

/*
    Choose the colours you want for the calculator here.
    Usage examples:
    color: var(--fg-clr-normal); 
    background: var(--bg-clr-light);
    fg: foreground
    bg: background
    line: line color
*/

:root {
    --fg-clr-normal: #111;                                  /* standard for text */    
   
    --bg-clr-light: rgb(162, 231, 240);                                  
    --bg-clr-gray: rgb(162, 231, 240);
    --bg-clr-iceblue: rgb(44, 48, 52);
   
    --line-clr-blue: lightblue;
    --line-clr-darkgray: rgb(50, 93, 107);
    --gradient: linear-gradient(90deg, rgb(14, 186, 40), rgb(29, 137, 176),rgb(162, 38, 129));  /* Makes the background have these different colors in a linear way*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {                                                    /*main container for the whole page*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: var(--gradient);                          /*Makes the background move from the left to right and then right to left*/
    background-size: 400%;
    animation: bg-gradient 6s infinite alternate;
    animation-iteration-count: 4;
}

@keyframes bg-gradient {                        /*Makes the background gradient*/
    30% {background-position: left;}
        70% {background-position: right;}
}

.main {                                                         /*calc body*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: .5rem;
    background-color: var(--bg-clr-iceblue);
    border: 2px solid var(--line-clr-blue);
    box-shadow: .125rem .125rem .125rem var(--bg-clr-gray);
    min-width: 20%;
    min-height: 50%;
    padding: 1rem;
}

.calc-btn {                                                    /*calc buttons*/
    height:  100%;
    width: auto;
    font-size: clamp(1rem, 1vw, 2rem);
    background-color: rgb(189, 189, 189);
    
}   

.calc-screen {  
    display: flex;                                              /*Make sure the digits are centered in the middle*/
    flex: 1;
    align-items: center;                                        /*calculator screen*/
    font-family: "Calc";
    font-size: clamp(.55rem, 4.5vw, 3.5rem);                     /*clamp is useful if you want the page to be responsive. (minimum size, preferred size, max size) */
    box-shadow: inset 1px 1px 0px var(--bg-clr-gray);           /*inset means that the shadow is inside the element - not outside - used here to create the illusion of a real screen - feel free to remove and see what you like best */
    width: 100%;
    height: clamp(3rem, 4vw, 5rem);
    border: 1px solid var(--line-clr-darkgray);
    background: var(--bg-clr-light);
    color: var(--fg-clr-normal);
    padding: .125rem;
}


/* specifically for grid */

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-4 {
    grid-column: span 4;
}


/*Makes it rotate 180 degrees*/
.rotate {
    rotate: 180deg;
}


/*Imports font from a file*/
@font-face {             
    font-family: "Calc";
    src: url(digital-7\ \(mono\).ttf);
}